.desktop-header-user-language:hover .switcher .selected a,
.desktop-header-user-language:hover .switcher .selected em,
.switcher .selected a:hover,
.group-button-custom .product-add-cart:hover span, 
.group-button-custom .product-wishlist:hover span,
.desktop-header-account a:hover,
.scroll-to-top:hover .button-to-top-text,
.settings-bar-layout .settings-bar-item.bar-settings .settings-bar-settings-content .settings-bar-settings-item li.active a,
.scroll-to-top:hover .button-to-top-text em{
  color: #08da97 !important;
}
.social-media-link:hover,
.footer-linklist-1 li a:hover, .footer-linklist-2 li a:hover,
.index-collection-tab-title:hover a,
.desktop-header-account a:hover,
.social-media-link:hover, .footer-linklist-1 li a:hover, .footer-linklist-2 li a:hover, .index-collection-tab-title:hover a .desktop-header-account a:hover, 
.dropdown .is-dropdown-submenu .is-submenu-item a:hover,
.header-menu .menu .is-active > a, .header-menu .menu.dropdown .is-active > a,
.header-menu-root:hover>a, .header-menu-root.active>a, .desktop-header a:hover, a:hover, a:focus, a:active, a.active
.header-menu-root:hover > a, .header-menu-root.active > a,
.desktop-header a:hover,
a:hover, a:focus, a:active, a.active,
.desktop-header-currency .collection-sort-desktop-dropdown > li > span:hover,
.desktop-header-currency .collection-sort-desktop-dropdown-panel li:hover,
.desktop-header-currency:hover .collection-sort-desktop-dropdown > li > span,
.collection-filter-list:hover a,
#countdowntimer,
.product-rating-add a:hover,
.product-shippinginfo span,
.product-option-value .product-sizechart a:hover,
.faqs-area .faqs-title:hover,
.breadcrumbs a:hover,
.product-stickybuy .product-form .product-option-item .product-sizechart a,
.article .article-tags ul li,
.section-information .title span,
.section-information .content .info-1 .desc, .section-information .content .info-2 .desc, .section-information .content .info-3 .desc,
.settings-bar-layout .settings-bar-item.bar-settings .settings-bar-settings-content .item-list li.active a{
   color: #08da97;
}


.index-collection-slider-linklist2 .group-button .group-button-item:hover, 
.index-collection-tab-slider .group-button .group-button-item:hover,
.index-group-blocks4 .group-button .group-button-item:hover, .index-group-blocks5 .group-button .group-button-item:hover,
.slideshow-custom7 .group-button .group-button-item:hover, .slideshow-custom6 .group-button .group-button-item:hover, 
.index-collection-grid-custom3 .group-button .group-button-item:hover, .index-collection-grid-custom2 .group-button .group-button-item:hover, 
.index-group-blocks3 .group-button .group-button-item:hover, .index-collection-slider-linklist .group-button .group-button-item:hover, 
.index-collection-flexible .group-button .group-button-item:hover, .index-group-blocks1 .group-button .group-button-item:hover,
.index-collection-slider-custom2 .group-button .group-button-item:hover, .index-collection-grid-custom .group-button .group-button-item:hover,
.index-collection-grid-custom1 .group-button .group-button-item:hover, .index-collection-slider-banner2 .group-button .group-button-item:hover,
.index-collection-slider-banner .group-button .group-button-item:hover, .index-leftsidebar-grid-container .group-button .group-button-item:hover, 
.index-collection-slider-column .group-button .group-button-item:hover, .index-collection-tab-grid .group-button .group-button-item:hover,
.index-collection-tab .group-button .group-button-item:hover, .index-collection-slider .group-button .group-button-item:hover,
.collection-product-list .group-button .group-button-item:hover, .layout-bottom-content .group-button .group-button-item:hover, 
.wishlist-item .group-button .group-button-item:hover, .search-product-item .group-button .group-button-item:hover,
.search-box-desktop-ajax-product .group-button .group-button-item:hover, .product-shop-look .group-button .group-button-item:hover, 
.layout-content-content .group-button .group-button-item:hover, .header-menu-dropdown-product .group-button .group-button-item:hover,
.index-collection-slider-linklist2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab-slider .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks4 .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks5 .cart-button .product-item-buttons:hover .product-item-button, 
.slideshow-custom7 .cart-button .product-item-buttons:hover .product-item-button, 
.slideshow-custom6 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom3 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks3 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-linklist .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-flexible .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks1 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-custom2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom1 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-banner2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-banner .cart-button .product-item-buttons:hover .product-item-button, 
.index-leftsidebar-grid-container .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-column .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab-grid .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider .cart-button .product-item-buttons:hover .product-item-button, 
.collection-product-list .cart-button .product-item-buttons:hover .product-item-button, 
.layout-bottom-content .cart-button .product-item-buttons:hover .product-item-button, 
.wishlist-item .cart-button .product-item-buttons:hover .product-item-button, 
.search-product-item .cart-button .product-item-buttons:hover .product-item-button, 
.search-box-desktop-ajax-product .cart-button .product-item-buttons:hover .product-item-button, 
.product-shop-look .cart-button .product-item-buttons:hover .product-item-button, 
.layout-content-content .cart-button .product-item-buttons:hover .product-item-button, 
.header-menu-dropdown-product .cart-button .product-item-buttons:hover .product-item-button,
.footer-newsletter-button,
.settings-bar-layout .settings-bar-item,
.carousel-nav-middle .carousel-navigation:hover,
.desktop-header a:hover .header-counter-pill,
.footer-copyright a:hover,
.always-show .product-add-cart:hover,
.always-show .icon-sortdown:hover,
.contact .form-button,
.suffix-faqs .faqs-content .more-action .more-button a,
.product-add-cart:hover, .product-add-cart:focus, .product-add-cart:active{
  background: #08da97;
}
.show-more .product-wishlist:hover, .show-more .product-add-cart:hover,
.promotion-box .top-text .red-box{
  background: #08da97 !important;
}
.index-collection-slider-linklist2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab-slider .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks4 .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks5 .cart-button .product-item-buttons:hover .product-item-button, 
.slideshow-custom7 .cart-button .product-item-buttons:hover .product-item-button, 
.slideshow-custom6 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom3 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks3 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-linklist .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-flexible .cart-button .product-item-buttons:hover .product-item-button, 
.index-group-blocks1 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-custom2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-grid-custom1 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-banner2 .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-banner .cart-button .product-item-buttons:hover .product-item-button, 
.index-leftsidebar-grid-container .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider-column .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab-grid .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-tab .cart-button .product-item-buttons:hover .product-item-button, 
.index-collection-slider .cart-button .product-item-buttons:hover .product-item-button, 
.collection-product-list .cart-button .product-item-buttons:hover .product-item-button, 
.layout-bottom-content .cart-button .product-item-buttons:hover .product-item-button, 
.wishlist-item .cart-button .product-item-buttons:hover .product-item-button, 
.search-product-item .cart-button .product-item-buttons:hover .product-item-button, 
.search-box-desktop-ajax-product .cart-button .product-item-buttons:hover .product-item-button, 
.product-shop-look .cart-button .product-item-buttons:hover .product-item-button, 
.layout-content-content .cart-button .product-item-buttons:hover .product-item-button, 
.header-menu-dropdown-product .cart-button .product-item-buttons:hover .product-item-button,
.footer-newsletter-wrap,
.group-button-custom .product-add-cart:hover, 
.group-button-custom .product-wishlist:hover{
  border-color: #08da97;
}